    /* Custom Scrollbar */
    .custom-scrollbar {
        scrollbar-width: thin;
        /* Firefox */
        scrollbar-color: rgba(156, 163, 175, 0.3) transparent;
        /* Firefox */
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.3);
        border-radius: 20px;
    }

    .custom-scrollbar:hover::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.5);
    }

    /* Dark mode scrollbar */
    .dark .custom-scrollbar {
        scrollbar-color: rgba(156, 163, 175, 0.2) transparent;
    }

    .dark .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.2);
    }

    .dark .custom-scrollbar:hover::-webkit-scrollbar-thumb {
        background-color: rgba(156, 163, 175, 0.3);
    }